body {
  background-color: #eeeef6;
  font-family:Arial, Helvetica, sans-serif;
  
  
}

header {
    background-color:#31343d;
    text-align: left;
    margin: 0;
    
    
}

.header-text {
    color: #31343d;
    background-color: #91cccd;
    margin: 5px 0 5px 0;
    padding: 4px 4px 4px 20px;
    display: inline-block;
}

header p {
    color: #31343d;
    background-color: #91cccd;
    margin: 5px 20px 5px 10px;
    padding: 4px;
    display: inline-block;
}

.nav-list {
    text-decoration: none;
    padding 14px 16px; 
    overflow: hidden;
}

.nav-list a {
    text-decoration: underline;
    color: #91cccd;
    float: right;
    display: block;
    text-align: right;
    padding: 10px; 15px;
    
}

h1 {
  color: #445876;
  text-align:right;
  font-size: 35px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    padding: 5px;
    margin: 15px;
    float: left;
    border-right: solid 3px #445876;
    
}

.section1 { 
    size: 70%;
    display: flex;
    flex-direction:row;
    padding: 10px;
    margin: 10px;

}

.section1 p {
    font-family: verdana;
    font-size: 12px;
    color: #3f5a7b;
    padding: 10px 10px 10px 10px;
    margin: 10px;

}

main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 10px;
}


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  width: 100%;
  height: 300px;
}

.card {
  flex: 100%;
  background-image: ;
  border: solid 2px;
  border-color: #91cccd;
  color: #445876;
  margin: 4px;
  padding: 4px;
    
}
.column {
  flex: 48%;
  background-image: ;
  border: solid 2px;
  border-color: #91cccd;
  color: #445876;
  margin: 4px;
  padding: 4px;
}

.nav-bottom {
        text-decoration: none;
        overflow: hidden;
    }
    
.nav-bottom a {
        text-decoration: underline;
        color:#3f5a7b;
        float:left;
        display: block;
        text-align: left;
        padding: 10px 15px;

}